torch>=0.4.1
torchvision>=0.2.0
numpy>=1.14.3
scipy>=1.0.0
h5py>=2.7.1
imageio>=2.4.1
pandas>=0.22.0
tqdm>=4.19.8
opencv-python>=3.4.2
pillow==10.2.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
